
<div class="container" *ngIf="toDisplayMyCourses">
  <h3>My Courses</h3>
  <div class="err" *ngIf="errMyCourses" style="color:red;">
      {{errMyCourses}}
    </div>
    <table class="table" *ngIf="myCourses.length > 0">
      <thead class="thead-dark">
        <tr>

            <th scope="col">Index</th >
            <th scope="col">Code</th >
            <th scope="col">Name</th>
            <th scope="col">Section</th>
            <th scope="col">Semester</th>
            <th scope="col">Num of students registerred</th>
            <th scope="col">Register</th>
            <th hidden>_id</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let course of myCourses; let i=index">
          <th scope="row">{{i +1}}</th>
          <td>{{course.code}}</td>
          <td>{{course.name}}</td>
          <td>{{course.section}}</td>
          <td>{{course.semester}}</td>
          <td>{{course.students.length}}</td>
          <td>
            <!-- need global student info: if you are registerred, then you can see Drop button, otherwise you see Register button -->
            <!-- <button >Register</button> -->
            <button (click)="drop(course)" >Drop</button>
          </td>
          <td hidden>{{course._id}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="myCourses.length == 0">
      No courses registerred!
    </div>
   
  </div>