

<form action="create_course" method="POST">
    <div class="form-group">
        <label>code:</label>
        <input type="text" class="form-control" name="code" placeholder="course code" value="comp100">
    </div>

    <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" name="name" placeholder="course Name" value="Programing 1">
    </div>
    <div class="form-group">
        <label>Section:</label>
        <input type="text" class="form-control" name="section" placeholder="Section" value="1">
    </div>
    
    <div class="form-group">
        <label>semester:</label>
        <input type="text" class="form-control" name="semester" placeholder="semester" value="1">
    </div>
    
</form>

<script>
passInput = document.getElementById('password');
passAgainInput = document.getElementById('passwordAgain');
btnSignUp = document.getElementById('btnSignUp');
function confirmPassword(){
    if( !passInput.value.trim() || passInput.value != passAgainInput.value){
        btnSignUp.disabled = true;
    }else{
        btnSignUp.disabled = false;
    }
}
</script>
