

<form action="login" method="get">
    <div>Already a member? </div>
    <input type="submit" value="Login" class="btn btn-primary"/>
</form>
<form action="signup" method="get">
    <div>Not yet a member? </div>            
    <input type="submit" value="Sign Up" class="btn btn-primary"/>
</form>