
<div class="container" *ngIf="toDisplayLogin">

  <form class="form-signin" (ngSubmit)="onSubmit()">
    <h2 class="form-signin-heading">Login</h2>
    <label for="studentnumber" class="sr-only">Student Number</label>
    <input type="text" id="studentnumber" name="credential.studentnumber" [(ngModel)]="credential.studentnumber" class="form-control" placeholder="Student Number" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="credential.password" [(ngModel)]="credential.password"  class="form-control" placeholder="Password" required>
    <!-- <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <div class="err" style="color:red;">
        {{loginErr}}
    </div>
  </form>

</div> <!-- /container -->