<div class="container" *ngIf="toDisplaySignUp">
    <h3>Student SignUp</h3>
    <div class="err" style="color:red;" *ngIf="signUpErrs.length > 0">
        Failed to submit due to {{signUpErrs.length}} error(s) in form:
        <ul>
            <li *ngFor="let err of signUpErrs; let i = index">
                {{i+1}} - {{err}}
            </li>
        </ul>
    </div>
    <form method="POST" (ngSubmit)="onSubmit()">

        <div class="form-group row">
            <label for="studentnumberFr" class="col-2 col-form-label">Student Number:</label>
            <div class="col-10">
                <input id="studentnumberFr" [(ngModel)]="student.studentnumber" name="student.studentnumber" type="text" class="form-control"
                    placeholder="Enter your Student Number">
            </div>
        </div>

        <div class="form-group row">
            <label for="firstname" class="col-2 col-form-label">First Name:</label>
            <div class="col-10">
                <input id="firstname" [(ngModel)]="student.firstname" name="student.firstname" type="text" class="form-control" placeholder="Enter your First Name">
            </div>
        </div>
        <div class="form-group row">


            <label for="lastnameFr" class="col-2 col-form-label">Last Name:</label>

            <div class="col-10">
                <input id="lastnameFr" [(ngModel)]="student.lastname" name="student.lastname" type="text" class="form-control" placeholder="Enter your Last Name">
            </div>
        </div>

        <div class="form-group row">
            <label for="addresssFr" class="col-2 col-form-label">Addresss:</label>
            <div class="col-10">
                <input id="addresssFr" [(ngModel)]="student.address" name="student.address" type="text" class="form-control" placeholder="Enter your addresss">
            </div>
        </div>
        <div class="form-group row">
            <label for="cityFr" class="col-2 col-form-label">City</label>
            <div class="col-10">
                <input id="cityFr" [(ngModel)]="student.city" name="student.city" type="text" class="form-control" placeholder="Enter your city">
            </div>
        </div>

        <div class="form-group row">
            <label for="phoneFr" class="col-2 col-form-label">Phone:</label>
            <div class="col-10">
                <input id="phoneFr" [(ngModel)]="student.phone" name="student.phone" type="text" class="form-control" placeholder="Enter your phone">
            </div>
        </div>

        <div class="form-group row">
            <label for="emailFr" class="col-2 col-form-label">Email:</label>
            <div class="col-10">
                <input id="emailFr" [(ngModel)]="student.email" name="student.email" type="text" class="form-control" placeholder="Enter your Email Address">
            </div>

        </div>
        <div class="form-group row">
            <label for="programFr" class="col-2 col-form-label">Program</label>
            <div class="col-10">
                <input id="programFr" [(ngModel)]="student.program" name="student.program" type="text" class="form-control" placeholder="Enter your Favorite Program">
            </div>
        </div>
        <div class="form-group row">

            <label for="passwordFr" class="col-2 col-form-label">Password:</label>
            <div class="col-10">
                <input id="passwordFr" [(ngModel)]="student.password" name="student.password" type="password" class="form-control" placeholder="Enter your Password">
            </div>
        </div>
        <div class="form-group row">
            <label for="passwordAgainFr" class="col-2 col-form-label">Confirm Password:</label>
            <div class="col-10">
                <input id="passwordAgainFr" (input)="match2Passwords()" [(ngModel)]="student.passwordAgain" name="student.passwordAgain"
                    type="password" class="form-control" placeholder="Enter your Password Again">
            </div>
        </div>
        <input id="btnSignUp" type="submit" [disabled]="isSubmitDisabled" value="Sign Up" class="btn btn-primary" />

    </form>
</div>